{% extends 'JetChartersPublicBundle::base.html.twig' %}

{% block content %}
    <section class="misssion">
    <div class="container">
        <header class="headline">
            <h2>About Jet Charters</h2>
        </header>
        <div class="holder">
            <div class="info">
                <h3>Booking commercial airline travel is easy. Booking a private jet charter is not.... <span>We aim to <em>change</em> that.</span></h3>
                <p>Why should it be so tedious to book a private aircraft charter? We don't think it should be.Introducing <a href="#">JetCharters.com</a> - our mission is to remove the mystery and put all the information on air charter and jet charter at your fingertips. That means with as little as one search or one phone call, you can research private planes available at charter airports around the world. Refine your search by airport, location, airplane type or whatever search criteria you choose, connect with the private charter operator and get ready to take your next trip.</p>
            </div>
            <div class="charters-fact">
                <div class="video-holder">
                    <a href="#" data-toggle="modal" data-target="#video"><img src="{{ asset('bundles/jetcharterspublic/images/ico-video.png') }}" alt="image"></a>
                </div><!-- video-holder -->
                <div class="descr">
                    <h3>Facts about private Jet Charters</h3>
                    <ul>
                        <li>A jet charter allows you access to 5000 destination charter airports vs. just 500.</li>
                        <li>Chartering a jet allows you to accomplish the most demanding business itinerary.</li>
                        <li>The service and convenience a private jet charter provides is unparalleled.</li>
                        <li>Whether a jet or air charter, travel anywhere, anytime on your schedule.</li>
                        <li>At private terminals, avoid crowded security lines of commercial airports and the jets they serve.</li>
                        <li>Your charter vacation starts the minute you board the private jet - not when you get to your destination.</li>
                        <li>You can have the charter operator plan catering aboard your next jet charter.</li>
                        <li>Travel with who you want aboard a charter jet.</li>
                        <li>Over 400 jets in our private jet search system. </li>
                    </ul>
                    <p><strong>Jet Charters</strong> - taking the hassle <em>out</em> of planning your next private aircraft charter.</p>
                </div>
            </div><!-- charters-fact -->
        </div><!-- holder -->
    </div>
</section><!-- misssion -->
{% endblock %}